/************************************
GENERAL
*************************************/
body{
    
}

/**********************************
COLORS
**********************************/
h1{
    color: darkgray;
}

